html {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
background-color: #E0FFFF;
font-family: 'Arial',sans-serif;
font-size: 20px;
width: 600px;
margin: auto;
padding: 15px;
}

main{
  margin:5% auto;
  width: 80%;
}

h1,h3,h4 {
  font-family:'Helvetica',serif;
}

h1 {
  color:#DC143C;
}
h3,h4 {
  color:#000000;
}
a:link {
  color:#483D8B;
  text-decoration: none;
}
 a:hover {
  color:#DC143C;
  text-decoration: underline;
}

.contact{
  display: inline-block;
  vertical-align: top;
  width: 25%;
}




