html {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
background-color: #E0FFFF;
width: 600px;
margin: auto;
padding: 15px;
}

h1 {
  color:#DC143C;
  padding-left:30%;
}
h3,h4 {
  color:#000000;
}
a:link {
  color:#483D8B;
  text-decoration: none;
}
 a:hover {
  color:#DC143C;
  text-decoration: underline;
}

.contact, .main-content{
  display: inline-block;
  vertical-align: top;
}

.contact{
  width: 25%;
}

.main-content{
  padding:0 5%;
  width: 64%;
}

.about h3{
  margin-top:0;
}

footer {
  margin-left:30%;
}

